.card {
    background-color:rgb(207, 207, 207);
    width: 450px;
    height: 300px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
}
.title {
    color: black;
    margin-top: 0px;
}
.select{
    padding: 4px 0 4px 0;
    border-radius: 5px;
    background-color: rgb(107, 107, 107);
    margin-bottom: 15px;
}
.table{
    margin: auto;
}
.label {
    text-align: end;
    color:rgb(56, 56, 56)
}
.input {
    padding: 4px 0 4px 0;
    border-radius: 5px;
    background-color: rgb(107, 107, 107);
}
td{
    padding: 5px;
}
.roleSelect{
    padding: 25px;
}
.errorMsg{
    color: red
}